In [1]:
h = "Hello"

for letter in h:
    print(letter)
    
#iterating through string

H
e
l
l
o

In [2]:
for digit in (1,2,3):
    print(digit)
    
#iterating through tuple

1
2
3

In [6]:
range(10)
type(range(10))

range

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### if you don't know how to deal with a range, just list it ;)

In [10]:
for i in list(range(10)):
    print(i + 90)

90
91
92
93
94
95
96
97
98
99

In [11]:
ages = [49, 90, 120, 42150, 0, 1254]

#### create a new list qith all elements in ages * 2

In [12]:
new_ages = []
for age in ages:
    new_age = age * 2
    new_ages.append(new_age)

In [13]:
new_ages

[98, 180, 240, 84300, 0, 2508]

In [14]:
[age * 2 for age in ages]

[98, 180, 240, 84300, 0, 2508]

In [15]:
range(10)

range(0, 10)

In [16]:
[i*100 for i in range(10)]

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900]

### Filtering

In [23]:
words = ['ice cream', 'banana', 'apple', 'Bread', 'cake']

_Return a new list with only those items that start with b_

In [24]:
words_with_b = []
for word in words:
    if word.lower().startswith('b'):
        words_with_b.append(word)
        
        
words_with_b

['banana', 'Bread']

In [25]:
[word for word in words if word.lower().startswith('b')]

['banana', 'Bread']

#### Exercise

In [26]:
import random

In [30]:
shoppers = random.choices(range(40), k=20)

In [31]:
shoppers

[8, 0, 18, 21, 30, 35, 6, 33, 32, 25, 7, 6, 31, 15, 19, 28, 20, 15, 24, 26]

In [43]:
def spend_money():
    print("spend more money")

def get_chocolate():
    print("here's some chocolates")
    
def take_cake():
    print("take some cake!")

def have_house():
    print('have a house!')
    
customer_gifts_funcs = {
    0: spend_money,
    1: get_chocolate, 
    2: take_cake,
    3: have_house}

In [44]:
customer_gifts_funcs

{0: <function __main__.spend_money()>,
 1: <function __main__.get_chocolate()>,
 2: <function __main__.take_cake()>,
 3: <function __main__.have_house()>}

In [46]:
for np in [int(price / 10) for price in shoppers]:
    customer_gifts_funcs[np]()
    
#this would be useful for pipelines, putting functions inside a 
# dictionary. Dig in more into this!

spend more money
spend more money
here's some chocolates
take some cake!
have a house!
have a house!
spend more money
have a house!
have a house!
take some cake!
spend more money
spend more money
have a house!
here's some chocolates
here's some chocolates
take some cake!
take some cake!
here's some chocolates
take some cake!
take some cake!

--- 
### Lambda Functions

In [47]:
def square(x):
    return x**2

In [48]:
square(2)

4

In [60]:
x = lambda x: (x**2)

In [61]:
#lambda useful for simple functions
#replaces the def square thingy

In [62]:
    
lambdas_funcs = {
    0: lambda: print("spend more money"),
    1: lambda: print("here'S some chocolate"), 
    2: lambda: print("take some cake"),
    3: lambda: print("have a house!")}

In [63]:
# lambda x: <-- so the argument is there first
#lambda is useful for super simple functions 1-liners
# you can go through life without using them
#whereas list comprehensions are useful!