In [4]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', '3'))
print('{0:8} | {1:9}'.format('Oranges', '5'))

Fruit    | Quantity
Apples   | 3
Oranges  | 5

In [13]:
print('{0:<8} | {1:^8} | {2:>8}' .format('Left', 'Center', 'Right'))
print('{0:<8} | {1:^8} | {2:>8}' .format('Cat', 'Dog', 'Rabbit'))
print('{0:<8} | {1:^8} | {2:>8}' .format('5', '8', '1'))

Left     |  Center  |    Right
Cat      |   Dog    |   Rabbit
5        |    8     |        1

In [35]:
num = 23.45678

In [38]:
print('my result is: {num:1.6f}'.format(num = num))

my result is: 23.456780

In [28]:
r = 23.45678

In [29]:
r

23.45678

In [33]:
print('The result was {r:1.3f}' .format(r = r))

The result was 23.457

In [41]:
print(f'The result is {r:1.4f}')

The result is 23.4568

In [42]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]

In [43]:
matrix = [list1, list2, list3]

In [44]:
first = [row[0] for row in matrix]

In [46]:
first

[1, 4, 7]

In [49]:
my_dict = {'key1':123, 'key2':[12, 23, 33]}

In [50]:
my_dict

{'key1': 123, 'key2': [12, 23, 33]}

In [57]:
my_dict['key1']= 'foxy run'

In [58]:
my_dict

{'key1': 'foxy run', 'key2': [12, 23, 33]}

In [10]:
with open('bark.txt', mode='w') as f:
    f.write ('grrrr, doggy not happy')

In [11]:
with open('bark', mode='r') as f:
    print(f.read())

grrrr, doggy not happy

bark.txt.readlines()

bark.seek(0)

In [12]:
#bark.text.readlines()

bark.txt.readlines()

bark = open('bark.txt')

In [15]:
%%writefile bark.txt
one two three four
five six seven eight
money cant buy you all the thins that youve had

Overwriting bark.txt

In [17]:
bark = open('bark.txt')

In [18]:
bark.readlines()

['one two three four\n',
 'five six seven eight\n',
 'money cant buy you all the thins that youve had \n']

bark.close()

1<2

In [19]:
1<2

True

In [20]:
2 < 3

True

In [21]:
1 < 2 and 2 < 3

True

In [22]:
1 < 2 and 2 > 3

False

In [23]:
('h' == 'h') and (2 == 2)

True

In [30]:
(100 == 1) or (2 == 2) and ('rabbit' == 'fox') or ('rabbit' == 'rabbit')

True

In [36]:
not (1 == 1)

False

In [32]:
not 400 > 5000

True

In [34]:
not 400 <5000

False

In [38]:
if 3>2:
    print("It's true!")

It's true!

In [39]:
if True:
    print('Its true!')

Its true!

In [43]:
hungry = False

if hungry:
    print('Feed the monster!!!!!')
else:

In [44]:
hungry

False

In [46]:
hungry = False

if hungry:
    print('FEED THE MONSTER!!!!')
else:
    print("The monster ain't hungry")

The monster ain't hungry

In [52]:
loc = 'shop'

if loc == "Auto Shop":
    print('cars are cool!')
elif loc == 'bank':
    print('bitch better have my money!')
elif loc == 'store':
    print("I can't shop, I'm poor")
else:
    print('bitch, this is an auto shop')

bitch, this is an auto shop

In [55]:
name = "Ada"

if name == "Tita":
    print("Why don't you want to go out?")
elif name== "Andy":
    print('Look for the bear necessities!')
elif name == "Ada":
    print('Grrrr, Ada. Stop sleeping!')
elif name == "Lis":
    print('no vomites en el florero!!!')
else:
    print('who the hell are you?')

Grrrr, Ada. Stop sleeping!

In [56]:
my_iterable = [1, 2, 3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [57]:
thoughts = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
for bunny in thoughts:
    print(bunny)

1
2
3
4
5
6
7
8
9
10

In [61]:
bunny

10

In [69]:
for bunny in thoughts:
    if bunny % 2 == 0:
        print(f'even number:{bunny}')
    else:
        print(f'odd number: {bunny}')

odd number: 1
even number:2
odd number: 3
even number:4
odd number: 5
even number:6
odd number: 7
even number:8
odd number: 9
even number:10

In [63]:
2 % 2

0

In [64]:
4 % 2

0

In [65]:
8%2

0

In [77]:
sumthoughts = 0

for fox in thoughts:
    sumthoughts = sumthoughts + fox
    
    print(sumthoughts)

1
3
6
10
15
21
28
36
45
55

In [76]:
1+2+3+4+5+6+7+8+9+10

55

In [81]:
foxstring = 'Hello Rabbit'

for rawr in foxstring:
    print(rawr)

H
e
l
l
o

R
a
b
b
i
t

In [82]:
for rawr in 'Hello Rabbit!':
    print(rawr)

H
e
l
l
o

R
a
b
b
i
t
!

In [84]:
tup = (1, 2, 3)
for item in tup:
    print(item)

1
2
3

In [91]:
foxlist = [(1,2),(3,4),(5,6),(7,8)]

In [92]:
len(foxlist)

4

In [94]:
for (a,b) in foxlist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [96]:
for (a,b) in foxlist:
    print(b)

2
4
6
8

In [100]:
foxlist = [(1,2,'lis'),(5,6,'o'),(8,9,'liz')]

In [101]:
for rawr in foxlist:
    print(rawr)

(1, 2, 'lis')
(5, 6, 'o')
(8, 9, 'liz')

In [102]:
for (a,b,c) in foxlist:
    print(c)

lis
o
liz

In [107]:
d = {'k1':1,'k2':2,'k3':3}

In [113]:
for a,b in d.items():
    print(a)

k1
k2
k3

In [115]:
for rawr in d.keys():
    print(rawr)

k1
k2
k3

In [121]:
x = 50

while x <= 5:
    print(f'The current foxy value is {x}')
    x+=1
else:
    print(f'{x} is not that foxy, poor little number')

50 is not that foxy, poor little number

In [123]:
x = [1,2,3]

for item in x:
    pass

print('end of my script')

end of my script

In [124]:
fox = 'Andy'

In [126]:
for rawr in fox:
    if rawr == 'n':
        break
    print(rawr)

A

In [131]:
x = 0

while x <=5:
    
    if x == 4:
        break
    print(x)
    x+=1

0
1
2
3

In [137]:
for rawr in range(2,10,2):
    print(rawr)

2
4
6
8

In [142]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [139]:
fox = range

In [140]:
list(fox(0,11,2))

[0, 2, 4, 6, 8, 10]

In [143]:
for rawr in range(1,20,3):
    print(rawr)

1
4
7
10
13
16
19

In [148]:
index_count = 0 

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count +=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [149]:
fox_count = 0

for rawr in 'abcde':
    print(f'at index {fox_count} the lestter is {rawr}')
    fox_count +=1

at index 0 the lestter is a
at index 1 the lestter is b
at index 2 the lestter is c
at index 3 the lestter is d
at index 4 the lestter is e

In [156]:
fox_count = 0 
fox = 'abcde'

for rabbit in fox:
    
    print(fox[fox_count])
    fox_count += 1

a
b
c
d
e

In [162]:
fox = 'abcde'

for a,b in enumerate(fox):
    print(a)
    print(b)
    print('.')

0
a
.
1
b
.
2
c
.
3
d
.
4
e
.

In [166]:
for rawr in range (2,10,2):
    print(rawr)

2
4
6
8

In [167]:
list(range(2,10,2))

[2, 4, 6, 8]

In [169]:
rawr = 'Radoszycki'

for bark in enumerate(rawr):
    print(bark)

(0, 'R')
(1, 'a')
(2, 'd')
(3, 'o')
(4, 's')
(5, 'z')
(6, 'y')
(7, 'c')
(8, 'k')
(9, 'i')

In [174]:
for a,b in enumerate(rawr):
    print(a,b)

0 R
1 a
2 d
3 o
4 s
5 z
6 y
7 c
8 k
9 i

In [177]:
foxlist1 = [1,2,3]
foxlist2 = ['a','b', 'c']
foxlist3 = [100,200,300]

In [179]:
for item in zip(foxlist1,foxlist2,foxlist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [180]:
list(zip(foxlist1,foxlist2,foxlist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [182]:
for a,b,c in zip(foxlist1,foxlist2,foxlist3):
    print(b)

a
b
c

In [184]:
'x' in [1,2,3]

False

In [187]:
'x' in ['x','y','z']

True

In [191]:
'bunny' in ['hole','rome','heaven?']

False

In [192]:
'bunny' in ['bunny','is','at','home']

True

In [194]:
'a' in 'baby, im howlin for you'

True

In [197]:
'magic' in {'tinker':['pixie','dust','magic']}

False

In [208]:
d = {'tinker':('pixie','dust','magic')}

In [209]:
d

{'tinker': ('pixie', 'dust', 'magic')}

In [203]:
# d['tinker'][0]

'pixie'

In [210]:
'pixie' in d.values()

False

In [213]:
d = {'mykey':345}

345 in d.keys()

False

In [214]:
mylist = [10,20,30,40,900]

In [215]:
min(mylist)

10

In [216]:
max(mylist)

900

In [217]:
from random import shuffle

In [218]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [232]:
shuffle(mylist)

In [233]:
mylist

[10, 4, 6, 1, 7, 2, 8, 3, 9, 5]

In [236]:
from random import randint

In [237]:
randint(0,100)

77

In [239]:
randint(0,100)

5

In [245]:
what = randint(0,100)

In [246]:
what

52

In [247]:
what

52

In [248]:
what

52

In [251]:
result = input('Enter a number here: ')

Enter a number here: 90

result

In [252]:
result

'90'

In [253]:
float(result)

90.0

In [254]:
int(result)

90

In [255]:
result = int(input('fav #: '))

fav #: 83

In [256]:
result

83